extends layout

block content
  .View.WelcomeView
    .View
      h1.Banner #{title}
      .Message
        .Title
          h3 Check out the Backend Service!
      .NavButtons
        a(href='/backend') 
          div.NavButton Backend
